<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Experienced IT professional seeking a position as a Web Developer">
  <meta name="keywords" content="Web Developer Perth, Web Design Perth, PHP, Javascript, Jquery, SQL, database developer">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <link rel="stylesheet" href="./css/override.css">
  <title>Steve&apos;s CV</title>
  <noscript>This site uses javascript. To get the best from ths site, please ensure that javascript is enabled.<br/>
  It is your prerogative to disable javascript, this site uses <em>progressive enhancement</em> techniques to ensure that you are not penalised for doing so.</noscript>
</head>
<body>
