<div id="div-panel-mnu" data-role="panel">
  <nav data-role="controlgroup panel" data-type="vertical">
    <a href="index.php" class="ui-btn">Welcome</a>
    <a href="index.php?page=personal" class="ui-btn mmenu-itm">Personal information</a>
    <a href="index.php?page=expertise" class="ui-btn mmenu-itm">Expertise</a>
    <a href="index.php?page=qualifications" class="ui-btn mmenu-itm">Qualifications</a>
    <a href="index.php?page=experience" class="ui-btn mmenu-itm">Experience</a>

    <!--

    FUTURE IMPLEMENTATION

    <a href="index.php?page=contact" class="ui-btn mmenu-itm">Contact me</a>
  -->
  </nav>
</div>
